@charset "utf-8";

#image .fitem	{
	float: left;
	margin-right: 15px;
}

.titem	{
	padding-bottom: 15px;
}

.ttext	{
	width: 360px;
}

.timg	{
	width: 150px;
}

/* ====================================================================================================
   クリアフィックス
==================================================================================================== */
.tinner:after	{
	content: ".";
	display: block;
	clear: both; 
	height: 0;
	visibility: hidden;
}

.tinner	{
	display: block;
	#display: inline-block;
}
